body {
  background-color: black;
  font-family: courier, monospace;
  height:100%;
  /* margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  font-family: courier, monospace;
  color: #66FF66;
  margin-bottom: 0;
  overflow: hidden; */
}
/* #root {
  background-color: black;
  height: 100%;
} */

html {
  /* margin: 0;
  padding: 0;
  margin-bottom: 0; */
  /* overflow: hidden; */
  background-color: black;
  height:100%;
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
